@charset "UTF-8";
@import url(monokai.css);
* {
  outline: none; }

html {
  font-size: 62.5%;
  text-size-adjust: none; }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 68.75%; } }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased; }

.material-icon {
  font-family: Material Icons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  speak: none;
  word-wrap: normal;
  direction: ltr; }

header.top-bar .middle-aligner, .column-parent, footer .middle-aligner {
  padding-left: 2rem;
  padding-right: 2rem; }

header.top-bar {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 180%;
  font-weight: 100;
  background-color: #7e57c2;
  color: white; }
  header.top-bar .middle-aligner {
    display: flex;
    align-items: center; }
    header.top-bar .middle-aligner .subgroup {
      display: flex;
      align-items: center;
      width: 676px;
      min-width: 0;
      margin-right: 2rem; }
      header.top-bar .middle-aligner .subgroup a.logo {
        margin: -0.6rem 2rem -0.6rem -0.8rem;
        padding: 0.8rem;
        font-size: 2.4rem;
        cursor: pointer;
        transition: opacity .25s; }
        header.top-bar .middle-aligner .subgroup a.logo:hover, header.top-bar .middle-aligner .subgroup a.logo:focus {
          opacity: .7; }
        header.top-bar .middle-aligner .subgroup a.logo img {
          display: block;
          width: 24px;
          height: 24px; }
      header.top-bar .middle-aligner .subgroup button.burger {
        display: none; }
      header.top-bar .middle-aligner .subgroup .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    header.top-bar .middle-aligner .search-bar {
      flex: 0 0 30%;
      position: relative; }
      header.top-bar .middle-aligner .search-bar .input-wrapper {
        position: relative; }
        header.top-bar .middle-aligner .search-bar .input-wrapper .search-icon {
          position: absolute;
          top: 0.7rem;
          left: 1rem;
          color: rgba(255, 255, 255, 0.5); }
          header.top-bar .middle-aligner .search-bar .input-wrapper .search-icon:before {
            content: "\E8B6"; }
        header.top-bar .middle-aligner .search-bar .input-wrapper input#search-input {
          width: 100%;
          line-height: 3rem;
          border: none;
          border-radius: .2rem;
          padding-left: 4.4rem;
          padding-right: 4.4rem;
          background-color: rgba(0, 0, 0, 0.26);
          font-size: 1.6rem;
          font-weight: 200;
          transition: background-color 0.25s cubic-bezier(0.1, 0.7, 0.1, 1);
          color: rgba(255, 255, 255, 0.5); }
          header.top-bar .middle-aligner .search-bar .input-wrapper input#search-input:hover, header.top-bar .middle-aligner .search-bar .input-wrapper input#search-input:focus {
            background-color: rgba(255, 255, 255, 0.12);
            color: white; }
        header.top-bar .middle-aligner .search-bar .input-wrapper input#search-input::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.5); }
        header.top-bar .middle-aligner .search-bar .input-wrapper input#search-input::-moz-placeholder {
          color: rgba(255, 255, 255, 0.5); }
        header.top-bar .middle-aligner .search-bar .input-wrapper input#search-input:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.5); }
        header.top-bar .middle-aligner .search-bar .input-wrapper input#search-input:-moz-placeholder {
          color: rgba(255, 255, 255, 0.5); }
        header.top-bar .middle-aligner .search-bar .input-wrapper input#search-input:not(:focus) + .search-clear {
          opacity: 0; }
        header.top-bar .middle-aligner .search-bar .input-wrapper .search-clear {
          display: block;
          position: absolute;
          top: -0.4rem;
          right: 0;
          border: none;
          padding: 1rem;
          font-size: 2rem;
          color: rgba(255, 255, 255, 0.5);
          background-color: transparent;
          cursor: pointer; }
          header.top-bar .middle-aligner .search-bar .input-wrapper .search-clear:before {
            content: ""; }
      header.top-bar .middle-aligner .search-bar ul#results-container {
        position: absolute;
        z-index: 5;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 1rem 0;
        border-radius: .2rem;
        padding-left: 0;
        box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        list-style: none;
        background-color: white;
        overflow: hidden; }
        header.top-bar .middle-aligner .search-bar ul#results-container li {
          box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.07); }
          header.top-bar .middle-aligner .search-bar ul#results-container li a {
            display: block;
            padding: 1.2rem 1.5rem;
            text-decoration: none;
            color: black;
            transition: background-color .25s; }
            header.top-bar .middle-aligner .search-bar ul#results-container li a:hover, header.top-bar .middle-aligner .search-bar ul#results-container li a:focus {
              background-color: rgba(124, 77, 255, 0.1); }
    header.top-bar .middle-aligner .source-code {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      padding: 0.4rem;
      text-decoration: none;
      transition: opacity .25s; }
      header.top-bar .middle-aligner .source-code .source-host-logo {
        width: 24px;
        height: 24px;
        margin-right: 0.6rem;
        pointer-events: none; }
      header.top-bar .middle-aligner .source-code .source-host-name {
        font-size: 1.3rem;
        font-weight: 700;
        color: white; }
      header.top-bar .middle-aligner .source-code:hover, header.top-bar .middle-aligner .source-code:focus {
        opacity: 0.7; }

.middle-aligner {
  box-sizing: border-box;
  max-width: 122rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.column-parent {
  flex-grow: 1;
  display: flex;
  box-sizing: border-box;
  padding-top: 5rem;
  padding-bottom: 5rem; }

nav#side-menu {
  flex: 0 0 30%;
  min-width: 15rem;
  box-sizing: border-box;
  padding-right: 2rem;
  font-size: 1.4rem;
  line-height: 1.3; }
  nav#side-menu label {
    display: block;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden; }
  nav#side-menu ol.menu-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
    nav#side-menu ol.menu-list ol.menu-list {
      padding-left: 1.5rem; }
    nav#side-menu ol.menu-list li.menu-item {
      display: flex;
      flex-direction: column; }
      nav#side-menu ol.menu-list li.menu-item button.menu-list-opener, nav#side-menu ol.menu-list li.menu-item a {
        display: flex;
        margin-top: .625em;
        margin-bottom: .625em;
        transition: color .125s;
        text-overflow: ellipsis;
        color: inherit;
        overflow: hidden; }
        nav#side-menu ol.menu-list li.menu-item button.menu-list-opener.current, nav#side-menu ol.menu-list li.menu-item a.current {
          color: #7e57c2; }
        nav#side-menu ol.menu-list li.menu-item button.menu-list-opener:hover, nav#side-menu ol.menu-list li.menu-item button.menu-list-opener:focus, nav#side-menu ol.menu-list li.menu-item a:hover, nav#side-menu ol.menu-list li.menu-item a:focus {
          color: #7c4dff; }
      nav#side-menu ol.menu-list li.menu-item button.menu-list-opener {
        border: none;
        padding: 0;
        text-align: left;
        font-size: inherit;
        background-color: transparent;
        cursor: pointer; }
        nav#side-menu ol.menu-list li.menu-item button.menu-list-opener:after {
          content: "\E315";
          margin-left: 0.2rem;
          font-family: Material Icons;
          font-style: normal;
          font-variant: normal;
          font-weight: 400;
          speak: none;
          direction: ltr; }
        nav#side-menu ol.menu-list li.menu-item button.menu-list-opener.open:after {
          transform: translateY(0.2rem) rotate(-90deg); }
        nav#side-menu ol.menu-list li.menu-item button.menu-list-opener:not(.open):after {
          transform: translateY(0.2rem) rotate(90deg); }
      nav#side-menu ol.menu-list li.menu-item a {
        text-decoration: none; }
      nav#side-menu ol.menu-list li.menu-item button.menu-list-opener:not(.open) + ol.menu-list {
        display: none; }

main.content {
  flex: 1 1 auto;
  max-width: 676px;
  min-width: 0;
  margin-left: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  -webkit-print-color-adjust: exact; }
  main.content h1, main.content h2 {
    font-weight: 300;
    letter-spacing: -.01em; }
  main.content h1 {
    margin: 0 0 4rem;
    color: rgba(0, 0, 0, 0.54);
    font-size: 3.125rem;
    line-height: 1.3; }
  main.content h2 {
    margin: 4rem 0 1.6rem;
    font-size: 2.5rem;
    line-height: 1.4; }
  main.content blockquote, main.content ol, main.content p, main.content ol {
    margin: 1em 0; }
  main.content a, main.content button, main.content input, main.content label {
    -webkit-tap-highlight-color: transparent; }
  main.content a {
    word-break: break-word;
    text-decoration: none;
    color: #7e57c2;
    transition: color .125s; }
    main.content a:hover, main.content a:focus {
      color: #7c4dff; }
  main.content pre, main.content kbd, main.content code {
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
    font-size: 85%;
    direction: ltr; }
  main.content pre {
    margin: 1em 0;
    border-radius: .2rem;
    line-height: 1.4;
    -webkit-overflow-scrolling: touch;
    background-color: #272822;
    color: #e6db74; }
    main.content pre.collapseable button.collapser {
      width: 100%;
      border: none;
      padding: 0;
      text-align: left;
      font-family: inherit;
      font-size: inherit;
      background-color: #272822; }
      main.content pre.collapseable button.collapser:before {
        content: "- Show less";
        display: inline-block;
        padding: 10px 15px;
        font-weight: bold;
        color: #000;
        background-color: #e6db74;
        cursor: pointer; }
    main.content pre.collapseable.collapsed code {
      max-height: 300px; }
    main.content pre.collapseable.collapsed button.collapser:before {
      content: "+ Show more"; }
  main.content code {
    margin: 0 .29412em;
    padding: .07353em 0;
    border-radius: .2rem;
    box-shadow: 0.29412em 0 0 rgba(237, 237, 237, 0.5), -0.29412em 0 0 rgba(237, 237, 237, 0.5);
    word-break: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: rgba(237, 237, 237, 0.5);
    color: #37474f; }
  main.content pre code {
    display: block;
    margin: 0;
    padding: 1.05rem 1.2rem;
    font-size: inherit;
    box-shadow: none;
    -webkit-box-decoration-break: none;
    box-decoration-break: none;
    background-color: transparent;
    overflow: auto;
    color: inherit; }
  main.content img {
    display: block;
    max-width: 100%;
    height: auto; }
  main.content .title-with-source-edit {
    display: flex; }
    main.content .title-with-source-edit h1 {
      flex: 1 1 auto; }
    main.content .title-with-source-edit a {
      flex: 0 0 auto;
      margin-left: 1rem;
      padding-top: .5rem;
      font-size: 2.4rem; }
      main.content .title-with-source-edit a:before {
        content: ""; }
  main.content h1 a.anchor-symbol, main.content h2 a.anchor-symbol, main.content h3 a.anchor-symbol, main.content h4 a.anchor-symbol, main.content h5 a.anchor-symbol, main.content h6 a.anchor-symbol {
    margin-left: 1rem;
    opacity: 0;
    transition: opacity 0.125s ease; }
  main.content h1:hover a.anchor-symbol, main.content h2:hover a.anchor-symbol, main.content h3:hover a.anchor-symbol, main.content h4:hover a.anchor-symbol, main.content h5:hover a.anchor-symbol, main.content h6:hover a.anchor-symbol {
    opacity: 0.26; }
    main.content h1:hover a.anchor-symbol:hover, main.content h1:hover a.anchor-symbol:focus, main.content h2:hover a.anchor-symbol:hover, main.content h2:hover a.anchor-symbol:focus, main.content h3:hover a.anchor-symbol:hover, main.content h3:hover a.anchor-symbol:focus, main.content h4:hover a.anchor-symbol:hover, main.content h4:hover a.anchor-symbol:focus, main.content h5:hover a.anchor-symbol:hover, main.content h5:hover a.anchor-symbol:focus, main.content h6:hover a.anchor-symbol:hover, main.content h6:hover a.anchor-symbol:focus {
      opacity: 1; }
  main.content .message-box {
    border-left: .4rem solid;
    border-radius: .2rem;
    font-size: 1.28rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
    main.content .message-box .message-title {
      position: relative;
      padding: 0.8rem 1.2rem;
      padding-left: 4.4rem;
      font-weight: 700; }
    main.content .message-box .message-content {
      border-top: 0.1rem solid rgba(68, 138, 255, 0.1);
      padding: 0.8rem 1.2rem; }
    main.content .message-box.attention, main.content .message-box.warning {
      border-left-color: #ff9100; }
      main.content .message-box.attention .message-title, main.content .message-box.warning .message-title {
        background-color: rgba(255, 145, 0, 0.1); }
        main.content .message-box.attention .message-title:before, main.content .message-box.warning .message-title:before {
          content: "";
          position: absolute;
          left: 1.2rem;
          line-height: 1;
          font-family: Material Icons;
          font-size: 2rem;
          color: #ff9100; }
    main.content .message-box.done, main.content .message-box.success {
      border-left-color: #00c853; }
      main.content .message-box.done .message-title, main.content .message-box.success .message-title {
        background-color: rgba(0, 200, 83, 0.1); }
        main.content .message-box.done .message-title:before, main.content .message-box.success .message-title:before {
          content: "";
          position: absolute;
          left: 1.2rem;
          line-height: 1;
          font-family: Material Icons;
          font-size: 2rem;
          color: #00c853; }
    main.content .message-box.example {
      border-left-color: #651fff; }
      main.content .message-box.example .message-title {
        background-color: rgba(101, 31, 255, 0.1); }
        main.content .message-box.example .message-title:before {
          content: "";
          position: absolute;
          left: 1.2rem;
          line-height: 1;
          font-family: Material Icons;
          font-size: 2rem;
          color: #651fff; }
    main.content .message-box.hint, main.content .message-box.important, main.content .message-box.tip {
      border-left-color: #00bfa5; }
      main.content .message-box.hint .message-title, main.content .message-box.important .message-title, main.content .message-box.tip .message-title {
        background-color: rgba(0, 191, 165, 0.1); }
        main.content .message-box.hint .message-title:before, main.content .message-box.important .message-title:before, main.content .message-box.tip .message-title:before {
          content: "";
          position: absolute;
          left: 1.2rem;
          line-height: 1;
          font-family: Material Icons;
          font-size: 2rem;
          color: #00bfa5; }
    main.content .message-box.idea, main.content .message-box.note {
      border-left-color: #448aff; }
      main.content .message-box.idea .message-title, main.content .message-box.note .message-title {
        background-color: rgba(68, 138, 255, 0.1); }
        main.content .message-box.idea .message-title:before, main.content .message-box.note .message-title:before {
          content: "";
          position: absolute;
          left: 1.2rem;
          line-height: 1;
          font-family: Material Icons;
          font-size: 2rem;
          color: #448aff; }
    main.content .message-box.info, main.content .message-box.todo {
      border-left-color: #00b8d4; }
      main.content .message-box.info .message-title, main.content .message-box.todo .message-title {
        background-color: rgba(0, 184, 212, 0.1); }
        main.content .message-box.info .message-title:before, main.content .message-box.todo .message-title:before {
          content: "";
          position: absolute;
          left: 1.2rem;
          line-height: 1;
          font-family: Material Icons;
          font-size: 2rem;
          color: #00b8d4; }

footer {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  font-size: 1.28rem;
  line-height: 1.6;
  -webkit-print-color-adjust: exact;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.895); }
  footer em {
    font-style: normal;
    color: rgba(255, 255, 255, 0.3); }
    footer em a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      transition: color .125s; }
      footer em a:hover, footer em a:focus {
        color: white; }

@media only screen and (max-width: 50em) {
  header.top-bar .middle-aligner .subgroup a.logo {
    display: none; }
  header.top-bar .middle-aligner .subgroup button.burger {
    display: block;
    margin-right: 1rem;
    border: none;
    padding: 0.8rem;
    font-size: 2.5rem;
    background-color: transparent;
    color: white;
    transition: opacity .25s;
    cursor: pointer; }
    header.top-bar .middle-aligner .subgroup button.burger:before {
      content: "\E5D2"; }
    header.top-bar .middle-aligner .subgroup button.burger:hover, header.top-bar .middle-aligner .subgroup button.burger:focus {
      opacity: .7; }
  header.top-bar .middle-aligner .search-bar {
    flex-basis: 50%; }
  header.top-bar .middle-aligner .source-code {
    display: none; }

  .column-parent {
    position: relative; }
    .column-parent nav#side-menu {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 50%;
      max-height: none;
      padding-right: 0;
      background-color: white;
      box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.5); }
      .column-parent nav#side-menu label {
        padding: 1.6rem 2rem;
        background-color: #7e57c2;
        color: white; }
      .column-parent nav#side-menu ol.menu-list {
        border-right: 0.1rem solid rgba(0, 0, 0, 0.07);
        overflow-y: auto; }
        .column-parent nav#side-menu ol.menu-list li.menu-item {
          border-top: 0.1rem solid rgba(0, 0, 0, 0.07); }
          .column-parent nav#side-menu ol.menu-list li.menu-item button.menu-list-opener, .column-parent nav#side-menu ol.menu-list li.menu-item a {
            margin-top: 0;
            margin-bottom: 0;
            padding: 1.2rem 2rem; }
      .column-parent nav#side-menu:not(.open) {
        display: none; } }
@media only screen and (max-width: 30em) {
  header.top-bar .middle-aligner {
    flex-direction: column;
    align-items: flex-start; }
    header.top-bar .middle-aligner .subgroup {
      width: 100%;
      margin-right: 0; }
      header.top-bar .middle-aligner .subgroup button.burger {
        margin-right: 0;
        margin-bottom: 0.2rem;
        margin-left: -0.8rem; }
      header.top-bar .middle-aligner .subgroup .title {
        text-align: center; }
    header.top-bar .middle-aligner .search-bar {
      flex-basis: auto;
      width: 100%; }

  .column-parent nav#side-menu {
    width: 80%; } }
