ansible==2.1.1.0
backports-abc==0.4
beautifulsoup4==4.5.1
certifi==2016.9.26
chardet==2.3.0
click==6.6
cryptography==1.5.3
enum34==1.1.6
html5lib==0.999999999
httplib2==0.9.2
idna==2.1
ipaddress==1.0.17
Jinja2==2.8
livereload==2.4.1
lxml==3.6.4
Markdown==2.6.7
MarkupSafe==0.23
mkdocs==0.16.0
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
mkdocs-material==0.2.4
netaddr==0.7.18
numpy==1.11.2
paramiko==2.0.0
pyasn1==0.1.9
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.22.0
python-apt==1.1.0b5
python-debian==0.1.29
python-debianbts==2.6.1
pyxdg==0.25
PyYAML==3.12
reportbug==6.6.6
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
vboxapi==1.0
virtualenv==15.1.0
webencodings==0.5
