<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% site.data.basic_info.name %}</title>
		<meta property="og:title" content="{% site.data.basic_info.name %}">
		<meta property="og:locale" content="en_US">
		<meta property="og:url" content="{% site.data.basic_info.page_url %}">
		<meta property="og:site_name" content="{% site.data.basic_info.name %}">
		<meta name="theme-color" content="{% site.data.basic_info.color_1 %}">
		<link rel="canonical" href="{% site.data.basic_info.page_url %}">
		<link rel="stylesheet" href="assets/main.css">
	</head>
	<body>{{ content }}</body>
</html>
