<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.data.basic_info.name }}</title>
		<meta property="og:title" content="{{ site.data.basic_info.name }}">
		<meta property="og:locale" content="en_US">
		<meta property="og:url" content="{{ site.data.basic_info.page_url }}">
		<meta property="og:site_name" content="{{ site.data.basic_info.name }}">
		<meta name="theme-color" content="{{ site.data.basic_info.color_1 }}">
		<link rel="canonical" href="{{ site.data.basic_info.page_url }}">
		<link rel="stylesheet" href="/assets/main.css">
	</head>
	<body>
		<header>{% include header.html %}</header>
		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__inner">
				<div class="sidebar mdc-layout-grid__cell--span-3">
					<label>{{ site.data.basic_info.name }}</label>
					<ul>
						{% for post in site.posts %}
							<li>
								<a href="{{ post.url }}">{{ post.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<main class="mdc-layout-grid__cell--span-7">{{ content }}</main>
				<div class="mdc-layout-grid__cell--span-2">

				</div>
			</div>
		</div>
		<footer>{% include footer.html %}</footer>
	</body>
</html>
