{% include message_box.html type="warning" title="Credit-based subscription plans" content="From August 2021, new users can only sign up for the new, credit-based subscription plans. If you sign up for a new account, you can either use the new Hobby plan for free or create a Teams account after signing up to try out the Teams plan. For more information, check out the relevant FAQs and our pricing page: 

* [Hobby plan FAQ](/team-management/credit-based-hobby-plan-faq/)
* [Teams plan FAQ](/team-management/teams-plan-faq/)
* [Pricing](https://www.bitrise.io/pricing/)

You can also check out our comparison of concurrency-based plans and credit-based plans: [Comparing credit-based and concurrency-based plans](/team-management/comparing-credit-based-and-concurrency-based-plans/)."%}