<h1 style="text-align: center; margin-bottom: 4rem;">Welcome to Bitrise Docs!</h1><div class="landing-text"><p>Bitrise is a Continuous Integration and Delivery (CI/CD) Platform as a Service (PaaS) with a main focus on mobile app development (iOS, Android, React Native, Flutter, and so on). It is a collection of tools and services to help you with the development and automation of your software projects.</p><p class="anchor-for-latest"><a href="#changelog-container-id">Check out what's new in the documentation!</a></p></div>
<div class="landing-banner">
  <img src="/assets/images/banner-bg-888x170.png" style="border: none;">
    <a target="_blank" href="https://app.bitrise.io/users/sign_up?utm_source=devcenter&utm_medium=bottom_cta"><button class="landing-button">TRY BITRISE FOR FREE</button></a>
</div>
<div class="related-articles"><span>Explore the docs</span></div>
<div class="index-container">
  <a class="index-box" href="/getting-started/index/">
    <img style="border:none;" src="/assets/logos/icons-docs/getting-started-index.svg" />
    <label class="index-title">Getting started</label>
    <p>Sign up to Bitrise, add a new app, and start a build! </p>
  </a>
  <a class="index-box" href="/code-signing/ios-code-signing/code-signing/">
    <img style="border:none;" src="/assets/logos/icons-docs/code-signing-index.svg" />
    <label class="index-title">iOS code signing</label>
    <p>Upload your code signing files, and export your app.</p>
  </a>
  <a class="index-box" href="/deploy/ship/">
    <img style="border:none;" src="/assets/logos/icons-docs/ship-index.svg" />
    <label class="index-title">Deploying with Ship</label>
    <p>Check out Bitrise's fast and efficient deployment solution!</p>
  </a>
</div>

<div class="changelog-container" id="changelog-container-id">
{% assign changeCounter = 0 %}
{% assign maxArticles = 12 %}
{% for change in site.data.changelog %}
  {% assign changeCounter = changeCounter | plus: 1 %}
  {% if changeCounter == 1 %}
  <title class="changelog-container-title">Latest changes in the docs</title>
  <div class="changelog-full-link"><a href="/changelog/" target="_blank">Click here for the full changelog</a></div>
  {% endif %}
      <div class="changelog-content">
        <div class="changelog-content-title">
          <title>
            {{change.modified | date: "%Y-%m-%d" }}: {{ change.title }}
          </title>
          {% if change.type == "new" %}
          <label class="article-label-new">NEW</label>
          {% elsif change.type == "update" %}
          <label class="article-label-update">UPDATE</label><h1 style="text-align: center; margin-bottom: 4rem;">Welcome to Bitrise Docs!</h1><div class="landing-text"><p>Bitrise is a Continuous Integration and Delivery (CI/CD) Platform as a Service (PaaS) with a main focus on mobile app development (iOS, Android, React Native, Flutter, and so on). It is a collection of tools and services to help you with the development and automation of your software projects.</p><p class="anchor-for-latest"><a href="#changelog-container-id">Check out what's new in the documentation!</a></p></div>
<div class="landing-banner">
  <img src="/assets/images/banner-bg-888x170.png" style="border: none;">
    <a target="_blank" href="https://app.bitrise.io/users/sign_up?utm_source=devcenter&utm_medium=bottom_cta"><button class="landing-button">TRY BITRISE FOR FREE</button></a>
</div>
<div class="related-articles"><span>Explore the docs</span></div>
<div class="index-container">
  <a class="index-box" href="/getting-started/index/">
    <img style="border:none;" src="/assets/logos/icons-docs/getting-started-index.svg" />
    <label class="index-title">Getting started</label>
    <p>Sign up to Bitrise, add a new app, and start a build! </p>
  </a>
  <a class="index-box" href="/code-signing/ios-code-signing/code-signing/">
    <img style="border:none;" src="/assets/logos/icons-docs/code-signing-index.svg" />
    <label class="index-title">iOS code signing</label>
    <p>Upload your code signing files, and export your app.</p>
  </a>
  <a class="index-box" href="/deploy/ship/">
    <img style="border:none;" src="/assets/logos/icons-docs/ship-index.svg" />
    <label class="index-title">Deploying with Ship</label>
    <p>Check out Bitrise's fast and efficient deployment solution!</p>
  </a>
</div>

<div class="changelog-container" id="changelog-container-id">
{% assign changeCounter = 0 %}
{% assign maxArticles = 12 %}
{% for change in site.data.changelog %}
  {% assign changeCounter = changeCounter | plus: 1 %}
  {% if changeCounter == 1 %}
  <title class="changelog-container-title">Latest changes in the docs</title>
  <div class="changelog-full-link"><a href="/changelog/" target="_blank">Click here for the full changelog</a></div>
  {% endif %}
      <div class="changelog-content">
        <div class="changelog-content-title">
          <title>
            {{change.modified | date: "%Y-%m-%d" }}: {{ change.title }}
          </title>
          {% if change.type == "new" %}
          <label class="article-label-new">NEW</label>
          {% elsif change.type == "update" %}
          <label class="article-label-update">UPDATE</label><h1 style="text-align: center; margin-bottom: 4rem;">Welcome to Bitrise Docs!</h1><div class="landing-text"><p>Bitrise is a Continuous Integration and Delivery (CI/CD) Platform as a Service (PaaS) with a main focus on mobile app development (iOS, Android, React Native, Flutter, and so on). It is a collection of tools and services to help you with the development and automation of your software projects.</p><p class="anchor-for-latest"><a href="#changelog-container-id">Check out what's new in the documentation!</a></p></div>
<div class="landing-banner">
  <img src="/assets/images/banner-bg-888x170.png" style="border: none;">
    <a target="_blank" href="https://app.bitrise.io/users/sign_up?utm_source=devcenter&utm_medium=bottom_cta"><button class="landing-button">TRY BITRISE FOR FREE</button></a>
</div>
<div class="related-articles"><span>Explore the docs</span></div>
<div class="index-container">
  <a class="index-box" href="/getting-started/index/">
    <img style="border:none;" src="/assets/logos/icons-docs/getting-started-index.svg" />
    <label class="index-title">Getting started</label>
    <p>Sign up to Bitrise, add a new app, and start a build! </p>
  </a>
  <a class="index-box" href="/code-signing/ios-code-signing/code-signing/">
    <img style="border:none;" src="/assets/logos/icons-docs/code-signing-index.svg" />
    <label class="index-title">iOS code signing</label>
    <p>Upload your code signing files, and export your app.</p>
  </a>
  <a class="index-box" href="/deploy/ship/">
    <img style="border:none;" src="/assets/logos/icons-docs/ship-index.svg" />
    <label class="index-title">Deploying with Ship</label>
    <p>Check out Bitrise's fast and efficient deployment solution!</p>
  </a>
</div>

<div class="changelog-container" id="changelog-container-id">
{% assign changeCounter = 0 %}
{% assign maxArticles = 12 %}
{% for change in site.data.changelog %}
  {% assign changeCounter = changeCounter | plus: 1 %}
  {% if changeCounter == 1 %}
  <title class="changelog-container-title">Latest changes in the docs</title>
  <div class="changelog-full-link"><a href="/changelog/" target="_blank">Click here for the full changelog</a></div>
  {% endif %}
      <div class="changelog-content">
        <div class="changelog-content-title">
          <title>
            {{change.modified | date: "%Y-%m-%d" }}: {{ change.title }}
          </title>
          {% if change.type == "new" %}
          <label class="article-label-new">NEW</label>
          {% elsif change.type == "update" %}
          <label class="article-label-update">UPDATE</label><h1 style="text-align: center; margin-bottom: 4rem;">Welcome to Bitrise Docs!</h1><div class="landing-text"><p>Bitrise is a Continuous Integration and Delivery (CI/CD) Platform as a Service (PaaS) with a main focus on mobile app development (iOS, Android, React Native, Flutter, and so on). It is a collection of tools and services to help you with the development and automation of your software projects.</p><p class="anchor-for-latest"><a href="#changelog-container-id">Check out what's new in the documentation!</a></p></div>
<div class="landing-banner">
  <img src="/assets/images/banner-bg-888x170.png" style="border: none;">
    <a target="_blank" href="https://app.bitrise.io/users/sign_up?utm_source=devcenter&utm_medium=bottom_cta"><button class="landing-button">TRY BITRISE FOR FREE</button></a>
</div>
<div class="related-articles"><span>Explore the docs</span></div>
<div class="index-container">
  <a class="index-box" href="/getting-started/index/">
    <img style="border:none;" src="/assets/logos/icons-docs/getting-started-index.svg" />
    <label class="index-title">Getting started</label>
    <p>Sign up to Bitrise, add a new app, and start a build! </p>
  </a>
  <a class="index-box" href="/code-signing/ios-code-signing/code-signing/">
    <img style="border:none;" src="/assets/logos/icons-docs/code-signing-index.svg" />
    <label class="index-title">iOS code signing</label>
    <p>Upload your code signing files, and export your app.</p>
  </a>
  <a class="index-box" href="/deploy/ship/">
    <img style="border:none;" src="/assets/logos/icons-docs/ship-index.svg" />
    <label class="index-title">Deploying with Ship</label>
    <p>Check out Bitrise's fast and efficient deployment solution!</p>
  </a>
</div>

<div class="changelog-container" id="changelog-container-id">
{% assign changeCounter = 0 %}
{% assign maxArticles = 12 %}
{% for change in site.data.changelog %}
  {% assign changeCounter = changeCounter | plus: 1 %}
  {% if changeCounter == 1 %}
  <title class="changelog-container-title">Latest changes in the docs</title>
  <div class="changelog-full-link"><a href="/changelog/" target="_blank">Click here for the full changelog</a></div>
  {% endif %}
      <div class="changelog-content">
        <div class="changelog-content-title">
          <title>
            {{change.modified | date: "%Y-%m-%d" }}: {{ change.title }}
          </title>
          {% if change.type == "new" %}
          <label class="article-label-new">NEW</label>
          {% elsif change.type == "update" %}
          <label class="article-label-update">UPDATE</label>
          {% elsif change.type == "fix" %}
          <label class="article-label-fix">FIX</label>
          {% elsif change.type == "video" %}
          <label class="article-label-video">VIDEO</label>
          {% endif %}</div>
        <p>{{ change.changelog | strip_html | truncatewords: 30 }}</p>
        <a href="{{ change.url }}">Read "{{ change.title }}" in full &gt;&gt;</a>
      </div>
  {% if changeCounter >= maxArticles %}
    {% break %}
  {% endif %}
{% endfor %}
</div>
<script src="/assets/javascripts/latest-changes.js"></script>
          {% elsif change.type == "fix" %}
          <label class="article-label-fix">FIX</label>
          {% elsif change.type == "video" %}
          <label class="article-label-video">VIDEO</label>
          {% endif %}</div>
        <p>{{ change.changelog | strip_html | truncatewords: 30 }}</p>
        <a href="{{ change.url }}">Read "{{ change.title }}" in full &gt;&gt;</a>
      </div>
  {% if changeCounter >= maxArticles %}
    {% break %}
  {% endif %}
{% endfor %}
</div>
<script src="/assets/javascripts/latest-changes.js"></script>
