<h1 style="text-align: center; margin-bottom: 4rem;">Welcome to Bitrise Docs!</h1>
<div style="text-align: center; margin-bottom: 3rem; margin-left: auto; margin-right: auto; width: 80%;">Bitrise is a Continuous Integration and Delivery (CI/CD) Platform as a Service (PaaS) with a main focus on mobile app development (iOS, Android, React Native, Flutter, and so on). It is a collection of tools and services to help you with the development and automation of your software projects.</div>
<div class="related-articles"><span>Explore the docs</span></div>
<div class="index-container">
  <a class="index-box" href="/getting-started/index/">
    <img style="border:none;" src="/assets/logos/icons-docs/getting-started-index.svg" />
    <label class="index-title">Getting started</label>
    <p>Sign up to Bitrise, add a new app, and start a build! </p>
  </a>
  <a class="index-box" href="/code-signing/ios-code-signing/code-signing/">
    <img style="border:none;" src="/assets/logos/icons-docs/code-signing-index.svg" />
    <label class="index-title">iOS code signing</label>
    <p>Upload your code signing files, and export your app.</p>
  </a>
  <a class="index-box" href="/api/v0.1/">
    <img style="border:none;" src="/assets/logos/icons-docs/code-index.svg" />
    <label class="index-title">API</label>
    <p>Browse our API guides, and the endpoint reference docs.</p>
  </a>
</div>
