{% if menu %}
<ol class="menu-list">
{% for item in menu %}
	<li class="menu-item">
		{% if item.url %}
			{% if item.url == current_article.url %}
				<a href="{{ item.url }}" title="{{ item.title }}" class="current">{{ item.title }}</a>
			{% else %}
				<a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
			{% endif %}
		{% else %}
			{% if page.lang != page.default_lang and item.localized_title != blank %}
				{% assign localized_menu_title = item.localized_title[page.lang] %}
			{% endif %}
			<button class="menu-list-opener" onclick="toggleMenuListOpener(event)">{{ localized_menu_title | default: item.title }}</button>
		{% endif %}
		{% if item.children %}
			{% assign menu = item.children %}
			{% include menu.html %}
		{% endif %}
	</li>
{% endfor %}
</ol>
{% endif %}
