{% include message_box.html type="important" title="Japanese translation unavailable" content="This page has not been translated into Japanese yet - we apologise for the inconvenience! If you're interested in helping us out, feel free to translate any article in the `jp` [folder of the DevCenter repository](https://github.com/bitrise-io/devcenter/tree/master/_articles/jp) and open a PR!

このページは日本語への翻訳がまだ完了しておりません。ご不便をおかけして申し訳ございません！
もしお手伝いできる方がいらっしゃれば、ご自由にjpフォルダの記事を日本語に訳していただき、[PRを開いてください](https://github.com/bitrise-io/devcenter/tree/master/_articles/jp)！"%}
