{% assign maxRelated = 4 %}

{% assign minCommonTags =  2 %}

{% assign maxRelatedCounter = 0 %}

{% for article in site.articles %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in article.tags %}
      {% if article.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter == 1 %}
        <div class="related-articles"><span>Related articles</span></div>
      {% endif %}
      <div class="container">
        <a href="{{ article.url }}">
          <div class="article-box">
            <span class="related-title">{{ article.title }}</span>
            <p>{{ article.summary | strip_html | truncatewords: 30 }}</p>
          </div>
        </a>
      </div>
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}
