@font-face {
  font-family: 'TTNorms';
  src: url('fonts/TT_Norms_Pro_Normal.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'TTNorms-Medium';
  src: url('fonts/TT_Norms_Pro_Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'TTNorms';
  src: url('fonts/TT_Norms_Pro_Bold.woff') format('woff');
  font-weight: 700;
}
