---
---

@charset "utf-8";

$spacing-default-horizontal: 2rem;
$spacing-header-vertical: 0.6rem;
$spacing-footer-vertical: 1.6rem;
$padding-logo-horizontal: .8rem;
$color-deep_purple: {{ site.data.colors.deep_purple }};
$color-deep_purple_shady: {{ site.data.colors.deep_purple_shady }};

* {
	outline: none;
}

html {
	font-size: 62.5%;
	text-size-adjust: none;

	@media only screen and (min-width: 100em) {
		font-size: 68.75%;
	}
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.material-icon {
	font-family: Material Icons;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
	white-space: nowrap;
	speak: none;
	word-wrap: normal;
	direction: ltr;
}

header.top-bar .middle-aligner, .column-parent, footer .middle-aligner {
	padding-left: $spacing-default-horizontal;
	padding-right: $spacing-default-horizontal;
}

header.top-bar {
	padding-top: $spacing-header-vertical;
	padding-bottom: $spacing-header-vertical;
	font-size: 180%;
	font-weight: 100;
	background-color: $color-deep_purple;
	color: white;

	.middle-aligner {
		display: flex;
		align-items: center;

		.subgroup {
			display: flex;
			align-items: center;
			width: 676px;
			min-width: 0;
			margin-right: 2rem;

			a.logo {
				margin: (-$spacing-header-vertical) 2rem (-$spacing-header-vertical) (-$padding-logo-horizontal);
				padding: $padding-logo-horizontal;
				font-size: 2.4rem;
				cursor: pointer;
				transition: opacity .25s;

				&:hover, &:focus {
					opacity: .7;
				}

				img {
					display: block;
					width: 24px;
					height: 24px;
				}
			}

			button.burger {
				display: none;
			}

			.title {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.search-bar {
			flex: 0 0 30%;
			position: relative;

			.input-wrapper {
				position: relative;

				.search-icon {
					position: absolute;
					top: 0.7rem;
					left: 1rem;
					color: hsla(0, 0%, 100%, .5);

					&:before {
						content: "\E8B6";
					}
				}

				input#search-input {
					width: 100%;
					line-height: 3rem;
					border: none;
					border-radius: .2rem;
					padding-left: 4.4rem;
					padding-right: 4.4rem;
					background-color: rgba(0, 0, 0, .26);
					font-size: 1.6rem;
					font-weight: 200;
					transition: background-color .25s cubic-bezier(.1, .7, .1, 1);
					color: hsla(0, 0%, 100%, .5);

					&:hover, &:focus {
						background-color: hsla(0, 0%, 100%, .12);
						color: white;
					}
				}

				input#search-input::-webkit-input-placeholder {
					color: hsla(0, 0%, 100%, .5);
				}
				input#search-input::-moz-placeholder {
					color: hsla(0, 0%, 100%, .5);
				}
				input#search-input:-ms-input-placeholder {
					color: hsla(0, 0%, 100%, .5);
				}
				input#search-input:-moz-placeholder {
					color: hsla(0, 0%, 100%, .5);
				}

				input#search-input:not(:focus) + .search-clear {
					opacity: 0;
				}

				.search-clear {
					display: block;
					position: absolute;
					top: - 0.4rem;
					right: 0;
					border: none;
					padding: 1rem;
					font-size: 2rem;
					color: hsla(0, 0%, 100%, .5);
					background-color: transparent;
					cursor: pointer;

					&:before {
						content: "";
					}
				}
			}

			ul#results-container {
				position: absolute;
				z-index: 5;
				top: 100%;
				left: 0;
				width: 100%;
				margin: 1rem 0;
				border-radius: .2rem;
				padding-left: 0;
				box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
				font-size: 1.5rem;
				list-style: none;
				background-color: white;
				overflow: hidden;

				li {
					box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, .07);

					a {
						display: block;
						padding: 1.2rem 1.5rem;
						text-decoration: none;
						color: black;
						transition: background-color .25s;

						&:hover, &:focus {
							background-color: rgba(124, 77, 255, .1);
						}
					}
				}
			}
		}

		.source-code {
			display: flex;
			align-items: center;
			margin-left: 2rem;
			padding: 0.4rem;
			text-decoration: none;
			transition: opacity .25s;

			.source-host-logo {
				width: 24px;
				height: 24px;
				margin-right: 0.6rem;
				pointer-events: none;
			}

			.source-host-name {
				font-size: 1.3rem;
				font-weight: 700;
				color: white;
			}

			&:hover, &:focus {
				opacity: 0.7;
			}
		}
	}
}

.middle-aligner {
	box-sizing: border-box;
	max-width: 122rem;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.column-parent {
	flex-grow: 1;
	display: flex;
	box-sizing: border-box;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

nav#side-menu {
	flex: 0 0 30%;
	min-width: 15rem;
	box-sizing: border-box;
	padding-right: 2rem;
	font-size: 1.4rem;
	line-height: 1.3;

	label {
		display: block;
		font-weight: 600;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	ol.menu-list {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;

		ol.menu-list {
			padding-left: 1.5rem;
		}

		li.menu-item {
			display: flex;
			flex-direction: column;

			button.menu-list-opener, a {
				display: flex;
				margin-top: .625em;
				margin-bottom: .625em;
				transition: color .125s;
				text-overflow: ellipsis;
				color: inherit;
				overflow: hidden;

				&.current {
					color: #7e57c2;
				}

				&:hover, &:focus {
					color: $color-deep_purple_shady;
				}
			}

			button.menu-list-opener {
				border: none;
				padding: 0;
				text-align: left;
				font-size: inherit;
				background-color: transparent;
				cursor: pointer;

				&:after {
					content: "\E315";
					margin-left: 0.2rem;
					font-family: Material Icons;
					font-style: normal;
					font-variant: normal;
					font-weight: 400;
					speak: none;
					direction: ltr;
				}

				&.open:after {
					transform: translateY(0.2rem) rotate(-90deg);
				}

				&:not(.open):after {
					transform: translateY(0.2rem) rotate(90deg);
				}
			}

			a {
				text-decoration: none;
			}

			button.menu-list-opener:not(.open) + ol.menu-list {
				display: none;
			}
		}
	}
}

main.content {
	flex: 1 1 auto;
	max-width: 676px;
	min-width: 0;
	margin-left: 2rem;
	font-size: 1.6rem;
	line-height: 1.6;
	-webkit-print-color-adjust: exact;

	h1, h2 {
		font-weight: 300;
		letter-spacing: -.01em;
	}

	h1 {
		margin: 0 0 4rem;
		color: rgba(0,0,0,.54);
		font-size: 3.125rem;
		line-height: 1.3;
	}

	h2 {
		margin: 4rem 0 1.6rem;
		font-size: 2.5rem;
		line-height: 1.4;
	}

	blockquote, ol, p, ol {
		margin: 1em 0;
	}

	a, button, input, label {
		-webkit-tap-highlight-color: transparent;
	}

	a {
		word-break: break-word;
		text-decoration: none;
		color: #7e57c2;
		transition: color .125s;

		&:hover, &:focus {
			color: $color-deep_purple_shady;
		}
	}

	pre, kbd, code {
		color: rgba(0,0,0,.87);
		-webkit-font-feature-settings: "kern";
		font-feature-settings: "kern";
		font-family: "Source Code Pro", "Courier New", Courier, monospace;
		font-size: 85%;
		direction: ltr;
	}

	pre {
		margin: 1em 0;
		border-radius: .2rem;
		line-height: 1.4;
		-webkit-overflow-scrolling: touch;
		background-color: #272822;
		color: #e6db74;
	}

	code {
		margin: 0 .29412em;
		padding: .07353em 0;
		border-radius: .2rem;
		box-shadow: 0.29412em 0 0 hsla(0, 0%, 93%, .5),  -0.29412em 0 0 hsla(0, 0%, 93%, .5);
		word-break: break-word;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		background-color: hsla(0, 0%, 93%, .5);
		color: #37474f;
	}

	pre code {
		display: block;
		margin: 0;
		padding: 1.05rem 1.2rem;
		font-size: inherit;
		box-shadow: none;
		-webkit-box-decoration-break: none;
		box-decoration-break: none;
		background-color: transparent;
		overflow: auto;
		color: inherit;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.title-with-source-edit {
		display: flex;

		h1 {
			flex: 1 1 auto;
		}

		a {
			flex: 0 0 auto;
			margin-left: 1rem;
			padding-top: .5rem;
			font-size: 2.4rem;

			&:before {
				content: "";
			}
		}
	}

	h1, h2, h3, h4, h5, h6 {

		a.anchor-symbol {
			margin-left: 1rem;
			opacity: 0;
			transition: opacity 0.125s ease;
		}

		&:hover a.anchor-symbol {
			opacity: 0.26;

			&:hover, &:focus {
				opacity: 1;
			}
		}
	}
}

footer {
	padding-top: $spacing-footer-vertical;
	padding-bottom: $spacing-footer-vertical;
	font-size: 1.28rem;
	line-height: 1.6;
	-webkit-print-color-adjust: exact;
	color: hsla(0, 0%, 100%, .7);
	background-color: rgba(0, 0, 0, .895);

	em {
		font-style: normal;
		color: hsla(0, 0%, 100%, .3);

		a {
			text-decoration: none;
			color: hsla(0, 0%, 100%, .7);
			transition: color .125s;

			&:hover, &:focus {
				color: white;
			}
		}
	}
}

@media only screen and (max-width: 50em) {

	header.top-bar {

		.middle-aligner {

			.subgroup {

				a.logo {
					display: none;
				}

				button.burger {
					display: block;
					margin-right: 1rem;
					border: none;
					padding: $padding-logo-horizontal;
					font-size: 2.5rem;
					background-color: transparent;
					color: white;
					transition: opacity .25s;
					cursor: pointer;

					&:before {
						content: "\E5D2";
					}

					&:hover, &:focus {
						opacity: .7;
					}
				}
			}

			.search-bar {
				flex-basis: 50%;
			}

			.source-code {
				display: none;
			}
		}
	}

	.column-parent {
		position: relative;

		nav#side-menu {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 50%;
			max-height: none;
			padding-right: 0;
			background-color: white;
			box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.5);

			label {
				padding: 1.6rem $spacing-default-horizontal;
				background-color: $color-deep_purple;
				color: white;
			}

			ol.menu-list {
				border-right: .1rem solid rgba(0, 0, 0, .07);
				overflow-y: auto;

				li.menu-item {
					border-top: .1rem solid rgba(0, 0, 0, .07);

					button.menu-list-opener, a {
						margin-top: 0;
						margin-bottom: 0;
						padding: 1.2rem $spacing-default-horizontal;
					}
				}
			}

			&:not(.open) {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 30em) {

	header.top-bar {

		.middle-aligner {
			flex-direction: column;
			align-items: flex-start;

			.subgroup {
				width: 100%;
				margin-right: 0;

				button.burger {
					margin-right: 0;
					margin-bottom: 0.2rem;
					margin-left: - $padding-logo-horizontal;
				}

				.title {
					text-align: center;
				}
			}

			.search-bar {
				flex-basis: auto;
				width: 100%;
			}
		}
	}

	.column-parent {

		nav#side-menu {
			width: 80%;
		}
	}
}
