.md-typeset pre, .md-typeset pre code {
  background-color: #272822;
  color: #e6db74;
}

nav span.section {
  padding-top: 15px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  color: rgba(0,0,0,.3) !important;
}

nav li ul {
  margin-left: 0px !important;
}

nav li ul li a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-weight: 500 !important;
}

.article .wrapper {
  padding-top: 77px !important;
}

.codehilite code, .codehilite pre {
  padding: 6px 0px 6px 12px;
  margin-bottom: 16px;
}

.md-clipboard:before {
  color: #fff;
}
.codehilite:hover .md-clipboard:before, .md-typeset .highlight:hover .md-clipboard:before, pre:hover .md-clipboard:before,
.md-clipboard:focus:before, .md-clipboard:hover:before {
  color: #e6db74 !important;
  opacity: 1;
}
.md-clipboard__message {
  background-color: #fff;
  color: #000;
}

.md-header-nav__breadcrumbs:after {
  display: inline;
  color: hsla(0,0%,100%,.3);
}
.md-header-nav__breadcrumbs.parent {
  color: hsla(0,0%,100%,.7);
}

/**
* Collapse Hightlited Code Block (PrismJS Plugin)
*/
.md-typeset pre>code.collpased {
  max-height: 300px;
  margin-bottom: 30px;
  transition: max-height 0.3s linear;
  -moz-transition: max-height 0.3s linear;
}

.md-typeset pre>code.collpased.open {
  max-height: 130em;
  margin-bottom: 30px;
}

code.collpased::after {
  cursor: pointer;
  content: "+ Show more";
  background-color: #e6db74;
  color: #000;
  font-weight: bold;
  z-index: 999;
  bottom: 0px;
  position: absolute;
  padding: 10px 15px;
  left: 0px;
}
code.collpased.open::after {
  content: "- Show less";
}