.md-typeset pre, .md-typeset pre code {
  background-color: #272822;
  color: #e6db74;
}

nav span.section {
  padding-top: 15px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  color: rgba(0,0,0,.3) !important;
}

nav li ul {
  margin-left: 0px !important;
}

nav li ul li a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-weight: 500 !important;
}

.article .wrapper {
  padding-top: 77px !important;
}

.codehilite code, .codehilite pre {
  padding: 6px 0px 6px 12px;
  margin-bottom: 16px;
}

.md-clipboard:before {
  color: #fff;
}
.codehilite:hover .md-clipboard:before, .md-typeset .highlight:hover .md-clipboard:before, pre:hover .md-clipboard:before,
.md-clipboard:focus:before, .md-clipboard:hover:before {
  color: #e6db74 !important;
  opacity: 1;
}
.md-clipboard__message {
  background-color: #fff;
  color: #000;
}

.md-header-nav__breadcrumbs:after {
  display: inline;
  color: hsla(0,0%,100%,.3);
}
.md-header-nav__breadcrumbs.parent {
  color: hsla(0,0%,100%,.7);
}