---
---

@charset "utf-8";

$spacing-default-horizontal: 2rem;
$spacing-header-vertical: 0.6rem;
$spacing-footer-vertical: 1.6rem;
$color-deep_purple: {{ site.data.colors.deep_purple }};
$color-deep_purple_shady: {{ site.data.colors.deep_purple_shady }};

* {
	outline: none;
}

html {
	font-size: 62.5%;
	text-size-adjust: none;

	@media only screen and (min-width: 100em) {
		font-size: 68.75%;
	}
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: Roboto, sans-serif;
}

.material-icon {
	font-family: Material Icons;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
	white-space: nowrap;
	speak: none;
	word-wrap: normal;
	direction: ltr;
}

header.top-bar .middle-aligner, .column-parent, footer .middle-aligner {
	padding-left: $spacing-default-horizontal;
	padding-right: $spacing-default-horizontal;
}

header.top-bar {
	padding-top: $spacing-header-vertical;
	padding-bottom: $spacing-header-vertical;
	font-size: 180%;
	font-weight: 100;
	background-color: $color-deep_purple;
	color: white;

	.middle-aligner {
		display: flex;
		align-items: center;

		a.logo {
			$padding-logo-horizontal: .8rem;
			margin: (-$spacing-header-vertical) 2rem (-$spacing-header-vertical) (-$padding-logo-horizontal);
			padding: $padding-logo-horizontal;
			font-size: 2.4rem;
			cursor: pointer;
			transition: opacity .25s;

			&:hover, &:focus {
				opacity: .7;
			}

			img {
				display: block;
				width: 24px;
				height: 24px;
			}
		}

		.search-bar {
			width: 30%;
			position: relative;
			margin-left: auto;

			.input-wrapper {
				position: relative;

				.material-icon {
					position: absolute;
					top: 0.7rem;
					left: 1rem;
					color: hsla(0, 0%, 100%, .5);

					&:before {
						content: "\E8B6";
					}
				}

				input#search-input {
					width: 100%;
					line-height: 3rem;
					border: none;
					border-radius: .2rem;
					padding-left: 4.4rem;
					padding-right: 4.4rem;
					background-color: rgba(0, 0, 0, .26);
					font-size: 1.6rem;
					font-weight: 200;
					transition: background-color .25s cubic-bezier(.1, .7, .1, 1);
					color: hsla(0, 0%, 100%, .5);

					&:hover, &:focus {
						background-color: hsla(0, 0%, 100%, .12);
						color: white;
					}
				}

				input#search-input::-webkit-input-placeholder {
					color: hsla(0, 0%, 100%, .5);
				}
				input#search-input::-moz-placeholder {
					color: hsla(0, 0%, 100%, .5);
				}
				input#search-input:-ms-input-placeholder {
					color: hsla(0, 0%, 100%, .5);
				}
				input#search-input:-moz-placeholder {
					color: hsla(0, 0%, 100%, .5);
				}
			}

			ul#results-container {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				margin: 1rem 0;
				border-radius: .2rem;
				padding-left: 0;
				box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
				font-size: 1.5rem;
				list-style: none;
				background-color: white;
				overflow: hidden;

				li {
					box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, .07);

					a {
						display: block;
						padding: 1.2rem 1.5rem;
						text-decoration: none;
						color: black;
						transition: background-color .25s;

						&:hover, &:focus {
							background-color: rgba(124, 77, 255, .1);
						}
					}
				}
			}
		}
	}
}

.middle-aligner {
	box-sizing: border-box;
	max-width: 122rem;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.column-parent {
	flex-grow: 1;
	display: flex;
	box-sizing: border-box;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

nav.menu {
	flex: 0 0 30%;
	min-width: 15rem;
	max-height: 90%;
	font-size: 1.4rem;
	line-height: 1.3;
	overflow-y: auto;

	label {
		display: block;
		font-weight: 600;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	ol {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;

		li {
			margin-top: .625em;

			a {
				display: block;
				margin-top: .625em;
				transition: color .125s;
				text-overflow: ellipsis;
				cursor: pointer;
				overflow: hidden;
				text-decoration: none;
				color: inherit;

				&.active {
					color: #7e57c2;
				}

				&:hover, &:focus {
					color: $color-deep_purple_shady;
				}
			}
		}
	}
}

main.content {
	flex: 1 1 auto;
	max-width: 676px;
	margin-left: 2rem;
	font-size: 1.6rem;
	line-height: 1.6;
	-webkit-print-color-adjust: exact;

	h1, h2 {
		font-weight: 300;
		letter-spacing: -.01em;
	}

	h1 {
		margin: 0 0 4rem;
		color: rgba(0,0,0,.54);
		font-size: 3.125rem;
		line-height: 1.3;
	}

	h2 {
		margin: 4rem 0 1.6rem;
		font-size: 2.5rem;
		line-height: 1.4;
	}

	blockquote, ol, p, ol {
		margin: 1em 0;
	}

	a, button, input, label {
		-webkit-tap-highlight-color: transparent;
	}

	a {
		word-break: break-word;
		text-decoration: none;
		color: #7e57c2;
		transition: color .125s;

		&:before {
			content: "";
		}

		&:hover, &:focus {
			color: $color-deep_purple_shady;
		}
	}

	pre, kbd, code {
		color: rgba(0,0,0,.87);
		-webkit-font-feature-settings: "kern";
		font-feature-settings: "kern";
		font-family: "Source Code Pro", "Courier New", Courier, monospace;
		font-size: 85%;
		direction: ltr;
	}

	pre {
		margin: 1em 0;
		border-radius: .2rem;
		line-height: 1.4;
		-webkit-overflow-scrolling: touch;
		background-color: #272822;
		color: #e6db74;
	}

	code {
		margin: 0 .29412em;
		padding: .07353em 0;
		border-radius: .2rem;
		box-shadow: 0.29412em 0 0 hsla(0, 0%, 93%, .5),  -0.29412em 0 0 hsla(0, 0%, 93%, .5);
		word-break: break-word;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		background-color: hsla(0, 0%, 93%, .5);
		color: #37474f;
	}

	pre code {
		display: block;
		margin: 0;
		padding: 1.05rem 1.2rem;
		font-size: inherit;
		box-shadow: none;
		-webkit-box-decoration-break: none;
		box-decoration-break: none;
		background-color: transparent;
		overflow: auto;
		color: inherit;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.title-with-source-edit {
		display: flex;

		h1 {
			flex: 1 1 auto;
		}

		a {
			flex: 0 0 auto;
			padding-top: .5rem;
			font-size: 2.4rem;
		}
	}
}

footer {
	padding-top: $spacing-footer-vertical;
	padding-bottom: $spacing-footer-vertical;
	font-size: 1.28rem;
	line-height: 1.6;
	-webkit-print-color-adjust: exact;
	color: hsla(0, 0%, 100%, .7);
	background-color: rgba(0, 0, 0, .895);

	em {
		font-style: normal;
		color: hsla(0, 0%, 100%, .3);

		a {
			text-decoration: none;
			color: hsla(0, 0%, 100%, .7);
			transition: color .125s;

			&:hover, &:focus {
				color: white;
			}
		}
	}
}
