---

---
{% for article in site.articles %}
  {% if page.url == article.url %}
    {% assign current_article = article %}
    {% assign current_article_source_url = "https://github.com/bitrise-io/devcenter/blob/master/" | append: article.path %}
  {% endif %}
{% endfor %}

{% capture locale %}
{% case page.lang %}
{% when 'jp' %}
    ja
  {% else %}
    en
{% endcase %}
{% endcapture %}

<html lang="{{ locale | strip }}">
  {% seo %}
  <head>
    <!-- Fresh paint -->
    <script type="text/javascript">
      (function(f,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,c=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};c&&d(c,"state")&&(j=JSON.parse(decodeURIComponent(d(c,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",c),history.replaceState(j.desiredHash||"",f.title,k.pathname+k.search)))}catch(n){}var l,h;window.freshpaint=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
      0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="freshpaint";e.people=e.people||[];e.toString=function(b){var a="freshpaint";"freshpaint"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove people group page alias ready".split(" ");
      for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.4;b=f.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof FRESHPAINT_CUSTOM_LIB_URL?
      FRESHPAINT_CUSTOM_LIB_URL:"//perfalytics.com/static/js/freshpaint.js";d=f.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.freshpaint||[]);
      freshpaint.init("fb78fc32-b738-475e-b6e5-26f48c2ec5b1");
      freshpaint.page();

      (function () {
          var cookies = document.cookie.split('; ').reduce(function (result, chunk) {
            var parts = chunk.split('=')
            result[parts[0]] = parts[1]
            return result
          }, {})

          if (cookies['expiring_api_token'] && cookies['CSRF-TOKEN']) {
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
              if (request.readyState === 4 && request.status === 200) {
                try {
                  var resp = JSON.parse(request.responseText)

                  if (resp.data.slug) {
                    freshpaint.identify(resp.data.slug)
                  }
                } catch (ex) {
                  console.log('Failed to fetch user slug')
                }
              }
            }
            var URL = 'https://api.bitrise.io/v0.1/me'
            request.open('GET', URL, true);
            request.setRequestHeader('Authorization', 'token ' + cookies['expiring_api_token'])
            request.setRequestHeader('X-CSRF-TOKEN', cookies['CSRF-TOKEN'])
            request.send(null);
          }
        })()
    </script>
    <!-- End Fresh Paint -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53276411-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-53276411-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TZK32GR');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.url != "/" and page.url != "/index" %}
        {{ current_article.title }} - {{ site.data.basic_info.name }}
      {% else %}
        {{ site.data.basic_info.name }}
      {% endif %}
    </title>
    {% if page.forestry_instant_preview_id %}
      <meta name="forestry:prevID" value="{{ page.forestry_instant_preview_id }} ">
    {% endif %}
    <meta property="og:title" content="{{ site.data.basic_info.name }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ site.data.basic_info.page_url }}" />
    <meta property="og:site_name" content="{{ site.data.basic_info.name }}" />
    <meta name="theme-color" content="{{ site.data.colors.deep_purple }}" />
    {% if page.lang == 'jp' %}
      <meta name="google-site-verification" content="402J7rmrVzNsUK7SrR7q6LggswxvyCPME_oc4AIjMLk" />
    {% endif %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/favicon.svg" color="#3bc3a3" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-76x76.png" type="image/png" sizes="76x76" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-120x120.png" type="image/png" sizes="120x120" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-152x152.png" type="image/png" sizes="152x152" />
    <link rel="canonical" href="{{ site.data.basic_info.page_url }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/search.css" />
    <link rel="stylesheet" type="text/css" href="/assets/Bitrise_font.css">
  </head>
  <body class="mdc-typography">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZK32GR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="top-bar">
      <div class="middle-aligner">
        <div class="subgroup">
          <a class="logo" href="/"><img src="/assets/images/bitrise-docs-logo-white.svg"/></a>
          <button class="burger material-icon" onclick="toggleSideBar()"></button>
        </div>
        <div class="search-bar">
          <div class="input-wrapper">
            <label class="search-icon material-icon"></label>
            <input type="text" name="search-bar" id="search-input" placeholder="Search" onkeypress="handle(event)"/>
            <button class="search-clear material-icon" onclick="clearSearchField()"></button>

            <script>
              function handle(e){
                  if(e.keyCode === 13){
                      e.preventDefault(); 
                      let query = e.target.value;

                      if (query != "" && !location.href.includes("jp")) {
                        location.href = window.location.origin + "/search/" + "?query=" + query;
                      } else if (query != "" && location.href.includes("jp")) {
                        location.href = window.location.origin + "/jp/search/" + "?query=" + query;
                      }
                  }
              }
          </script>
          </div>
        </div>
        <div class="lang-selector">
            <a href="{{ page.url_without_lang }}" class={% if page.lang == 'en' %}"active"{% endif %} hreflang="en">EN</a>
            <a href="/jp{{ page.url_without_lang }}" class={% if page.lang == 'jp' %}"active"{% endif %} hreflang="ja">日本語</a>
        </div>
        <a class="source-code" href="{{ site.data.basic_info.source_code_url }}" target="_blank">
          <object type="image/svg+xml" data="/assets/logos/icons-docs/github.svg" class="source-host-logo"></object>
          <span class="source-host-name">GitHub</span>
        </a>
        <div class="cta">
          <a target="_blank" href="https://app.bitrise.io/users/sign_up?utm_source=devcenter&utm_medium=top_cta">
            <button class="bitbutton">
              <span class="sign-up">Sign up for Bitrise</span>
            </button>
          </a>
         </div>
       </div>
    </header>
    <div class="column-parent middle-aligner main-layout-wrapper">
      <nav id="side-menu">
        <div class="menu-wrapper">
          {% assign menu = site.menus.main %} {% include menu.html %}
        </div>
      </nav>
      <main class="content">
        {% if current_article %}
          {% if current_article.url != "/" %}
            <div class="title-with-source-edit">
              <h1>{{ current_article.title }}</h1>
              <a class="material-icon" href="{{ current_article_source_url }}" target="_blank"></a>
            </div>
          {% endif %}
        {% endif %}
        {% assign modifiedCounter = 0 %}
        {% for change in site.data.changelog %}
          {% if current_article.title == change.title %}
            {% assign modifiedCounter = modifiedCounter | plus: 1 %}
            {% if modifiedCounter == 1 and change.type == "new" %}
            <span class="last_modified_at">Published at {{ change.modified | date: "%Y-%m-%d" }}</span>
            {% elsif modifiedCounter == 1 %}
            <span class="last_modified_at">Last updated at {{ change.modified | date: "%Y-%m-%d" }}</span>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% include anchor_headings.html html=content anchorBody="⚓" anchorClass="anchor-symbol" %}
        {% include related_articles.html %}
      </main>
      {% capture itemClass %}toc-entry.toc-h%level%{% endcapture %}
      {% if content contains "h2"  %}
        <nav id="my-toc">
          {% include toc.html html=content class="side-toc" item_class=itemClass h_min=1 h_max=3 %}
        </nav>
      {% endif %}
    </div>
    <footer>
      <div class="middle-aligner">
        <div class="meta">
          Copyright © 2014 - {{ 'now' | date: '%Y' }} Bitrise Ltd. <br />
          <em>Powered by <a href="https://jekyllrb.com/">Jekyll</a></em>
        </div>
      </div>
    </footer>
  </body>
  {% include analytics.html %}
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <script src="/assets/javascripts/list-collapse.js"></script>
  <script src="/assets/javascripts/search-input.js"></script>
  <script src="/assets/javascripts/side-menu.js"></script>
  <script src="/assets/javascripts/code-collapse.js"></script>
</html>