---

---
{% for article in site.articles %}
  {% if page.url == article.url %}
    {% assign current_article = article %}
    {% assign current_article_source_url = "https://github.com/bitrise-io/devcenter/blob/master/" | append: article.path %}
  {% endif %}
{% endfor %}

{% capture locale %}
{% case page.lang %}
{% when 'jp' %}
    ja
  {% else %}
    en
{% endcase %}
{% endcapture %}

<!doctype html>
<html lang="{{ locale | strip }}">
  {% seo %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.url != "/" and page.url != "/index" %}
        {{ current_article.title }} - {{ site.data.basic_info.name }}
      {% else %}
        {{ site.data.basic_info.name }}
      {% endif %}
    </title>
    {% if page.forestry_instant_preview_id %}
      <meta name="forestry:prevID" value="{{ page.forestry_instant_preview_id }} ">
    {% endif %}
    <meta property="og:title" content="{{ site.data.basic_info.name }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ site.data.basic_info.page_url }}" />
    <meta property="og:site_name" content="{{ site.data.basic_info.name }}" />
    <meta name="theme-color" content="#7e57c2" />
    {% if page.lang == 'jp' %}
      <meta name="google-site-verification" content="402J7rmrVzNsUK7SrR7q6LggswxvyCPME_oc4AIjMLk" />
    {% endif %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/favicon.svg" color="#3bc3a3" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />
    <link rel="canonical" href="{{ site.data.basic_info.page_url }}" />
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body class="mdc-typography">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZK32GR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="top-bar">
      <div class="middle-aligner">
        <div class="subgroup">
          <a class="logo" href="/"><img src="/assets/images/bitrise-docs-logo-white.svg" alt="bitrise logo"/></a>
          <button class="burger" onclick="toggleSideBar()">
            <span class="visually-hidden">Open menu</span>
          </button>
        </div>
        <div class="search-bar">
          <div class="input-wrapper">
            <input type="text" id="search-input" placeholder="Search the docs" />
            <button class="search-icon">
              <span class="visually-hidden">Start search</span>
            </button>
          </div>
        </div>
        <div class="lang-selector">
            <a href="{{ page.url_without_lang }}" class={% if page.lang == 'en' %}"active"{% endif %} hreflang="en">EN</a>
            <a href="/jp{{ page.url_without_lang }}" class={% if page.lang == 'jp' %}"active"{% endif %} hreflang="ja">日本語</a>
        </div>
        <a class="source-code" href="https://www.bitrise.io" target="_blank" rel="noopener noreferrer">
          <span class="source-host-name">bitrise.io</span>
          <object type="image/svg+xml" data="/assets/logos/icons-docs/linktarget.svg" class="source-host-logo"></object>
        </a>
        <div class="cta">
          <button class="bitbutton-sc">
            <a target="_blank" rel="noopener noreferrer" href="https://support.bitrise.io/hc/en-us?utm_source=devcenter&utm_medium=top_cta">
              <span class="sign-up">Go to Support</span>
          </a>
        </button>
      </div>
        <div class="cta">
          <button class="bitbutton">
            <a target="_blank" rel="noopener noreferrer" href="https://www.bitrise.io/contact?utm_source=website&utm_medium=devcenter&utm_campaign=contact"></a>
              <span class="sign-up">Book a demo</span>
            </a>
          </button>
         </div>
       </div>
    </header>
    <div class="column-parent middle-aligner main-layout-wrapper">
      <nav id="side-menu">
        <div class="menu-wrapper">
          {% assign menu = site.menus.main %} {% include menu.html %}
        </div>
      </nav>
      <main class="content">
        {% if current_article %}
          {% if current_article.url != "/" %}
            <div class="title-with-source-edit">
              <h1>{{ current_article.title }}</h1>
              <a href="{{ current_article_source_url }}" target="_blank"></a>
            </div>
          {% endif %}
        {% endif %}
        {% assign modifiedCounter = 0 %}
        {% for change in site.data.changelog %}
          {% if current_article.title == change.title %}
            {% assign modifiedCounter = modifiedCounter | plus: 1 %}
            {% if modifiedCounter == 1 and change.type == "new" %}
            <span class="last_modified_at">Published at {{ change.modified | date: "%Y-%m-%d" }}</span>
            {% elsif modifiedCounter == 1 %}
            <span class="last_modified_at">Last updated at {{ change.modified | date: "%Y-%m-%d" }}</span>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% include anchor_headings.html html=content anchorBody="⚓" anchorClass="anchor-symbol" %}
        {% include related_articles.html %}
      </main>
      {% capture itemClass %}toc-entry.toc-h%level%{% endcapture %}
      {% if content contains "h2"  %}
        <nav id="my-toc">
          {% include toc.html html=content class="side-toc" item_class=itemClass h_min=1 h_max=3 %}
        </nav>
      {% endif %}
    </div>
    <footer>
      <div class="middle-aligner">
        <div class="meta">
          Copyright © 2014 - {{ 'now' | date: '%Y' }} Bitrise Ltd. <br />
          <em>Powered by <a href="https://jekyllrb.com/">Jekyll</a></em>
        </div>
      </div>
    </footer>
  </body>
  {% include thirdparty.html %}
  <script src="/assets/javascripts/libs.min.js"></script>
  <script src="/assets/javascripts/main.js"></script>
</html>
